.strings {
  strings-list-embedded: a, b, c;
  strings-list-escaped: a, b, c;
  string-embedded: "aaa" "bbb";
  string-escaped: aaa bbb;
}
div-two-space-separated-arguments {
  normal: 1 1 1 2 2 2;
  embedded-js: "[1 1 1, 2 2 2]";
}
div-one-space-separated-argument {
  normal: 1 1;
  embedded-js: "[1, 1]";
}
